body{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


/*contenedor de texto e imagen*/
/*mobile first*/
#clinica-wrap{
  display: flex;
}
/*DESKTOP*/
@media(min-width:800px){
  #clinica-wrap{
      display: grid;
      grid-template-columns: 50% 50%;
      grid-template-rows:1fr 1fr;
      height: 600px;
      max-width: 1400px;
      margin:auto;
  }
}
/*contenedor del texto y del contenedor rosa*/
.info_clinica{
   
}
.info_clinica_rosa{
    background-color:#ef999e;
    color: white;
    
    grid-row-start: 2;
}
.image_doctora{
    background-color:#ef999e;    
    overflow: hidden;
    border-radius: 50% 50% 0 0;
    grid-column-start: 2;
    grid-row-end: span 2;
}
.image_doctora img{
  object-fit: contain;
  width:100%;
  height:100%;
}
.info{
    padding:25px;
}

.info h1{
    font-size: 44px;
}

.info p{
    width: 90%;
    font-size: 18px;
}

.info_rosa{
    padding: 25px;
}

.info_rosa h1{
    font-size: 34px;
}

.info_rosa p{
    font-size: 22px;
}

/*contenedor rosa*/


.image_mobile{
    display: none;
}

/*contenedor de la imagen de la doctora*/

/* mobile */
@media(max-width:800px){
    #clinica-wrap{
        flex-direction: column;
        max-width: 600px;
        margin:auto;
        /* height: 100%; */
    }

    .info_clinica{
        width: 100%;
    }

    .info h1{
        text-align: center;
    }
    .info p{
        text-align: center;
        font-size: 16px;
    }
    .info_rosa p{
        text-align: center;
        font-size: 20px;
    }

    .info_rosa{
        display: flex;
        flex-direction:column;
        justify-content: center;
        align-items: center;
    }

    .info_clinica_rosa{
        height: 500px;
        border-radius:50% 50% 0 0 ;
    }

    .image_mobile{
        display: block;
        /*position: absolute;*/
        border: 1px solid white;
        border-radius: 50%;
        width: 35%;

        left: 60%;
    }


    .image_doctora{
        display: none;
    }

}

/* MOBILE */
@media(max-width:769px){
    .info p,h1{
        text-align: center;
    }
    .info_rosa p,h1{
        text-align: center;
    }
}